/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-cth-blocks-cth-post-carousel {
	&.is-selected {
		border: 1px dotted rgba(0, 0, 0, 0.2);
	}
	[class*="components-card-"],
	[data-wp-component] {
		border: none;
		box-shadow: none;
	}
}
