/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "swiper/scss";
@import "swiper/scss/a11y";
@import "swiper/scss/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

.wp-block-cth-blocks-cth-post-carousel {
	padding-top: 30px;
	.cth-post-carousel-list {
		list-style: none;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}
