/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "swiper/scss";
@import "swiper/scss/a11y";
@import "swiper/scss/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css/effect-fade";

:root {
	--cth-carousel--pagination-height: var(--wp--custom--typography--line-height--normal, 28px);
}

.wp-block-cth-blocks-cth-post-carousel {
	padding-top: 30px;
	.swiper {
		.swiper-wrapper {
			padding-bottom: var(--cth-carousel--pagination-height);
		}
	}
	.swiper-pagination {
		line-height: var(--cth-carousel--pagination-height);
		height: var(--cth-carousel--pagination-height);
	}
	.swiper-button-next,
	.swiper-button-prev {
		background: none;
		border: none;
	}
	.swiper-button-next {
		right: 0;
	}
	.swiper-button-prev {
		left: 0;
	}
}
